server:
  port: 8080

spring:
  profiles:
    active: local  # e.g., local, dev, prod

  datasource:
    url: jdbc:mysql://localhost:3306/<DB-Name>?createDatabaseIfNotExist=true&useSSL=false&serverTimezone=UTC
    username: <Username>
    password: <Password>
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true

jwt:
  secret: <Your Secret Key> // used for signing JWTs, should be kept secret and secure
  expiration: 86400000

logging:
  level:
    org.springframework.security: DEBUG
    com.test.i11Labs: DEBUG
