server:
  port: 8080

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/CompanyDriverPortal?createDatabaseIfNotExist=true&useSSL=false&serverTimezone=UTC
    username: <Username for MySQL>
    password: <Your MySQL Password>
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true

jwt:
  secret: CompanyDriverPortalSecretKeyForJWTs2024SecureKey32 // used for signing JWTs, should be kept secret and secure
  expiration: 86400000

logging:
  level:
    org.springframework.security: DEBUG
    com.test.i11Labs: DEBUG
